.navigationContanier
    height: 81px
    display: flex
    justify-content: space-around
    position: fixed
    background: #1B1E25
    width: 100vw
    // max-width: 420px
    align-items: center

    bottom: 0
    a
        display: flex
        color: #636882
    .active
        color: #54A8E5
